@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.form-signin {
  max-width: 500px;
  padding: 70px;
  margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
	color: #FFFFFF;
}
p {
    font-family: 'Lato', sans-serif;
}
html {
	
    background-image: pozadina.jpg;
    
}
.top {
	background-image:pozadina.jpg;
	
}
.top .navbar-brand {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: #CCC;
    color: #474747;
    text-decoration: none;
}
.top .container {
    padding: 0;

}

.middle {
    
    max-height:95%;
}
.middle .container {

    min-height: 500px;
    padding-bottom: 40px;
}
.navbar-nav li a {
    color: #CCC;
    font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover {
    background-color: #373737;
}
.bottom {
 
}
.bottom .container {

    height: 50px;
}

.bottom .container p {
    color: #666;
}
.navbar-toggle {
    color: #009b9b;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-toggle:hover {
    background-color: #373737;
}
.navbar-nav {
    margin: 0;
}

.content p {
    line-height: 30px;
    font-size: 16px;
	color:#fff;
}
.to-tutorial {
    text-align: center;
}
.video{
	padding: 0px;
	color: blue;

	}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
